// Colors
// --------------------
// Text
$color-text-neutral: #24243f;
$color-text-sub: #808d96;

// Fonts
// --------------------
$font-size-small: 14px;
$font-size-neutral: 16px;
$font-size-medium: 18px;

// Icon size
// --------------------
$icon-size-regular: 20px;

// Line heights
// --------------------
$line-height-neutral: 1.6;
$line-height-medium: 1.8;

// Font families
// --------------------
$font-family-neutral: inter, -apple-system, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans,
  helvetica neue, sans-serif;

// Border radius
// --------------------
$radius-neutral: 4px;

// Durations
// --------------------
$duration-fade: 0.15s;
